header {
  background: url(../src/img/banner.jpg) no-repeat center;
  background-size: 100% 100%;
  height: 630px;
  text-align: center;
}
html,
body {
  padding: 0px;
  margin: 0px;
}

#logo {
  transform: scale(2);
  margin-top: 5cm;
}
