header {
  background-color: rgb(255, 55, 55);
  height: 130px;
  text-align: center;
}
html,
body {
  padding: 0px;
  margin: 0px;
}

#logo {
  transform: scale(1);
  margin-top: 1cm;
}
body {
  background-image: url(../src/img/body2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.center {
  text-align: center;
  padding: 50px;
}

#pager {
  margin-top: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#paginator {
  font-size: x-large;
  font-family: "Pokemon Solid", sans-serif;
  margin: auto;
}

.pokemons-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 2rem;
}

.card {
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.pokemon {
  width: 130px;
  height: 130px;
}

#pokemon-name {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 20px;
}

.overlay {
  position: absolute;
  height: 130px;
  width: 130px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fa4e4e;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover {
  transform: scale(1.05);
}

#next a,
#previous a {
  color: #fa4e4e;
}

.github {
  text-align: center;
}

.github :hover {
  transform: scale(1.2);
}

#github-a {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
