header {
  background-color: rgb(255, 55, 55);
  height: 210px;
  text-align: center;
}
html,
body {
  padding: 0px;
  margin: 0px;
}

#logo {
  transform: scale(1.5);
  margin-top: 3cm;
}
body {
  background-image: url(../src/img/body2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
