header {
  background-color: rgb(255, 55, 55);
  height: 130px;
  text-align: center;
}
html,
body {
  padding: 0px;
  margin: 0px;
}

#logo {
  transform: scale(1);
  margin-top: 1cm;
  cursor: pointer;
}
body {
  background-image: url(../src/img/body2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
}

.center {
  text-align: center;
  padding: 50px;
}

#pager {
  margin-bottom: 30px;
  place-content: center;
  justify-content: center;
  position: relative;
}

#paginator {
  font-size: x-large;
  font-family: "Pokemon Solid", sans-serif;
}

.pokemons-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 2rem;
}

.card {
  width: 130px;
  height: 130px;

  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  transition: opacity 0.5s;
}

.pokemon {
  width: 140px;
  height: 130px;
}

#pokemon-name {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 20px;
}

.overlay {
  position: absolute;
  height: 130px;
  width: 130px;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #ffffff;
}

.card:hover .overlay {
  opacity: 1;
}

#next a,
#previous a {
  color: #fa4e4e;
}

.github {
  text-align: center;
  margin-top: 40px;
}

#github-link :hover {
  transform: scale(1.2);
}

#github-lottie {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.github a {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#search-label {
  font-family: "Pokemon Solid", sans-serif;
  color: #fa4e4e;
  font-size: 30px;
}

#search {
  left: 80%;
  position: absolute;
  bottom: 1%;
}

#search-btn {
  position: absolute;
  left: 220px;
  top: 50px;
}

.oculto {
  display: none;
}

.blur {
  /* Add the blur effect */
  filter: blur(8px);
  pointer-events: none;
}

.card:hover {
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.8);
}

.pokemons-container:hover .card:not(:hover) {
  transform: translateY(3px);
}

.new {
  background: rgba(0, 0, 0, 0.5);
  height: 840.45px;
}

.new-card {
  background: rgba(255, 255, 255, 0.5);
  height: 800px;
  width: 680px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  text-align: center;
  border-radius: 20px;
}

#searched-img {
  position: relative;
  margin-top: 10px;
  height: 200px;
  width: 200px;
}

.name-searched {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 40px;
}

.type {
  margin: 20px;
  bottom: auto;
  font-family: FreeMono, monospace;
  border-radius: 40%;
  transition-duration: 0.4s;
}

.pokemon-abl {
  font-family: FreeMono, monospace;
  font-size: larger;
}

.div-abilities {
  position: relative;
  right: 40px;
}

.search-title {
  font-family: Apple Chancery, cursive;
  font-size: 30px;
}

.bar {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.name-stat {
  position: absolute;
  left: 14%;
  font-family: FreeMono, monospace;
}

.close-card {
  position: relative;
  float: right;
  margin: 10px;
  cursor: pointer;
}
